.article-main {
	margin-top: 2em;
	background-color: rgba(0, 0, 0, 0.9);
	height: 100%;
}
.article-main-img {
	display: inline-block;
	margin-left: 1em;
	margin-top: 2em;
}
.article-main-heading {
	margin-top: 1em;
	margin-left: 0.2em;
	//display: inline-block;
	color: white;
}
.article-main-text {
	margin-top: 1em;
	margin-left: 0.5em;
	//display: inline-block;
	color: white;
}
.article-main-btn {
	margin-top: 0em;
	margin-left: 0.5em;
}
